<div class="card  animated fadeIn">
    <img [src]="pais.flag" [alt]="pais.name" class="img-flag-mini ml-3">
    <div class="card-body">
        <h5 class="card-title">{{ pais.translations.es }}</h5>
        <p class="card-text">Divisa: {{ pais.currencies[0].name }} ({{ pais.currencies[0].symbol }})</p>
        <p class="card-text">Capital: {{ pais.capital }}</p>
        <p class="card-text"> {{ pais.bio }}</p>
        <button (click)="verPais()" type="button" class="btn btn-outline-primary btn-block">
        Ver más...
    </button>
        <!--<a [routerLink]="['/pais',i]" class="btn-outline-primary"> Ver más link</a>
-->
    </div>
</div>