<h1> <small>Paises de </small>Asia</h1><hr>

    <div class="card-columns">

    <div class="card">
        <img src="assets/img/china_flag.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">China</h5>
          <p class="card-text">Este pais necesita visado</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>
        </div>
      </div>

    </div>
