<h1> <small>Paises de </small>Asia</h1>
<hr>

<div class="card-columns">

    <div class="card  animated fadeIn" *ngFor="let pais of paises">
        <img [src]="pais.img" [alt]="pais.nombre" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ pais.nombre }}</h5>
            <p class="card-text">Divisa: {{ pais.moneda }}</p>
            <p class="card-text">Capital: {{ pais.capital }}</p>
            <p class="card-text"> {{ pais.bio }}</p>
            <button type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>
        </div>
    </div>

</div>